
{{!-- <div id="picture">
  <img src="{{ this.imgURL }}">
</div> --}}

  <div id="buttons">
    <button id="next" data-id="{{ this._id }}" class="btn"> >>> </button>
  </div>

<div id="content">
  <h2>{{ this.title }}</h2>
  <p>{{ this.synopsis }}</p>
</div>

  <div class="comments newNote">
    <h3></h3>
  </div>

<br>
  <div class="comments previousNote">
    <h3></h3>
  </div>
  
